{% extends 'admintemplates/adminbase.html' %}
{% load static %}


{% block body %}



            <!-- main-heading -->
            <h2 class="main-title-w3layouts mb-2 text-center">Tables</h2>
            <!--// main-heading -->

            <!-- Tables content -->
            <section class="tables-section">
                

               
                

                <!-- table7 -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">Food Form</h4>
                    <div class="table-responsive">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{form.as_p}}
                            <button class="btn btn-info w-100">Save Data</button>
                        </form>
                    </div>
                </div>
                <!--// table7 -->

            </section>
{% endblock %}