{% extends 'admintemplates/adminbase.html' %}
{% load static %}


{% block body %}


            <!-- Tables content -->
            <section class="tables-section">
                
                <!-- table7 -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">Delete Food</h4>
                    <div class="table-responsive">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
                <!--// table7 -->

            </section>
{% endblock %}