{% extends 'admintemplates/adminbase.html' %}
{% load static %}


{% block body %}



            <!-- main-heading -->
            <h2 class="main-title-w3layouts mb-2 text-center">Tables</h2>
            <!--// main-heading -->

            <!-- Tables content -->
            <section class="tables-section">
                

               
                

                <!-- table7 -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">Responsive Table</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Food name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Action</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                            	{% for food in ourfoodlist %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{food.name}}</td>
                                    <td>{{food.price}}</td>
                                    <td><img src="{{food.image.url}}" width="100"></td>
                                    <td>
                                    	<a href="{% url 'themeapp:adminfoodupdate' food.id %}" class="btn btn-primary">Update</a>
                                    	<a href="{% url 'themeapp:adminfooddelete' food.id %}" class="btn btn-danger">Delete</a>
                                    </td>
                                    
                                </tr>
                               	{% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--// table7 -->

            </section>
{% endblock %}