{% extends "base.html" %}
{% load static %}
{% block body %}
{% block contactpage %}active{% endblock %}


section class="contact py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title-w3 mb-5 font-weight-bold">Contact Us <span>Send Message</span></h3>
			<div class="row">
				<!-- contact form -->
				<div class="col-lg-6 contact-us1-bottom w3layouts-w3ls">
					<form action="#" method="post">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Name" name="name" required="">
						</div>
						<div class="form-group">
							<input type="email" class="form-control" placeholder="Email" name="email" required="">
						</div>
						<div class="form-group">
							<textarea class="form-control" placeholder="Message" name="message" required=""></textarea>
						</div>
						<button type="submit" class="btn">Submit</button>
					</form>
				</div>
				<!-- //contact form -->
				<!-- contact address -->
				<div class="col-lg-6 home-radio-clock mt-lg-0 mt-5">
					<h3 class="tittle text-dark mb-5 font-weight-bold">Get In Touch</h3>
					<div class="row">
						<div class="col-4">
							<ul class="list-unstyled">
								<li><i class="fa fa-envelope mr-2" aria-hidden="true"></i>Address</li>
								<li class="my-5"><i class="fa fa-phone mr-2" aria-hidden="true"></i>Call Us</li>
								<li><i class="fa fa-clock-o mr-2" aria-hidden="true"></i>Opening Time</li>
							</ul>
						</div>
						<div class="col-8">
							<div class="home-radio-clock-right">
								<ul class="list-unstyled">
									<li>4978 Diamond Circle,
										<span>NJ 07087, USA</span></li>
									<li class="my-4">(012) 123-456-78
										<span>(012) 123-456-78</span>
									</li>
									<li>Mon-Sat:<span>07h-16h</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- //contact address -->
			</div>
		</div>
	</section>
	<!-- map -->
	<div class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26359195.17562375!2d-113.7156245614499!3d36.2473834534249!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sin!4v1471497559566"
		 style="border:0" allowfullscreen=""></iframe>
	</div>
{% endblock %}
