{% extends 'base.html' %}
{% load static %}
{% block abc %} main-top{% endblock %}
{% block homepage %}active{% endblock %}


{% block banner %}
<!-- banner -->
		<div class="main-w3pvt">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-6 style-banner">
						<div class="style-banner-inner">
							<h3 class="font-weight-bold text-uppercase"><span class="font-weight-normal">Live</span> Organic for <span class="font-weight-normal">Live</span>
								Healthy </h3>
							<p class="mt-3">Fruits, Vegetables & Organic Fresh Food</p>
							<a href="about.html" class="btn button-style mt-sm-5 mt-4">Read More</a>
						</div>
					</div>

					<div class="col-lg-6 img-banner-w3 text-center">
						<div class="csslider infinity" id="slider1">
							{% for slider in myslider %}
							<input type="radio" name="slides" {% if forloop.counter == 1 %}checked="checked"{% endif %} id="slides_{{forloop.counter}}" />
							{% endfor %}
				
							<ul class="banner_slide_bg">
								{% for slider in myslider %}
								<li>
									<img src="{{slider.image.url}}" alt="" class="img-fluid">
								</li>
								{% endfor %}
							</ul>
							<div class="navigation">
								<div>
									{% for slider in myslider %}
									<label for="slides_{{forloop.counter}}"></label>
									{% endfor %}
									
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

{% endblock %}


{% block body %}

<div class="about py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="welcome-left text-center py-md-5 py-sm-3">
				<h3>Welcome to our Awesome Organic Food Website</h3>
				<a href="about.html" class="btn button-style button-style-2 mt-sm-5 mt-4">Read More</a>
			</div>
		</div>
	</div>
	<!-- //about -->

	<!-- best food  -->
	<section class="py-5 team-w3ls" id="best">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title-w3 pt-sm-5 mb-5 text-wh font-weight-bold">Bishal Baje ko Restaurant ma
				<span>is available at our Website</span></h3>
			<div class="d-flex team-w3ls-row pt-xl-5 pt-md-3">
				{% for food in myfoods|slice:"6" %}
				<div class="col-lg-4 col-sm-6">
					<div class="box20">
						<img src="{{food.image.url}}" alt="" class="img-fluid" />
						<div class="box-content">
							<h3 class="title">{{food.name}}</h3>
							<span class="post">Rs. {{food.price}} /-</span>
						</div>
					</div>
				</div>
				{% endfor %}
				
			</div>
			
		</div>
	</section>
	<!-- //best food  -->

	<!-- middle -->
	<section class="what-w3ls">
		<div class="container-fluid py-xl-5 py-lg-3">
			<div class="offset-xl-7 offset-lg-6 offset-md-4 offset-sm-2">
				<div class="grids-whtas pr-xl-5">
					<h3 class="tittle text-wh mb-5 font-weight-bold">763+ fruits, vegetables & lot more</h3>
					<p class="lead text-li">Fresh From Our Farm ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus at,
						semper varius orci. Nulla accumsan ac elit in congue.</p>
					<hr class="my-4">
					<p class="text-li">Rerum hic tenetur a sapiente delectus reiciendis maiores alias consequatur aut consequat
						sapien ut leo cursus
						rhoncus.Nullam dui mi, vulputate ac metus.</p>
					<a href="about.html" class="btn button-style mt-sm-5 mt-4">Read More</a>
				</div>
			</div>
		</div>
	</section>
	<!-- //middle -->

	<!-- testimonials -->
	<div class="testimonials py-5" id="testi">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title-w3 mb-5 text-wh font-weight-bold">What Our Customers Say
				<span>Excellent Reviews for our Website</span>
			</h3>
			<div class="carousel-inner">
				<div class="row">
					{% for testimonial in alltestimonial %}
					<div class="col-lg-6 w3_testimonials_grid">
						<div class="bg-wh p-sm-5 p-4">
							<p class="sub-test-w3ls">{{testimonial.review}}
							</p>
							<div class="row mt-5">
								<div class="col-3 testi-img-res">
									<img src="{{testimonial.image.url}}" alt=" " class="img-fluid" />
								</div>
								<div class="col-9 w3_testi_grid mt-xl-3 mt-lg-2 mt-md-4 mt-2">
									<h5 class="mb-2">{{testimonial.name}}</h5>
									<p>{{testimonial.organization}}</p>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
					

				</div>
			</div>
		</div>
	</div>
	<!-- //testimonials -->

	<!-- slides images -->
	<div class="slide-imaes">

	</div>

{% endblock %}